
.footer_global{
    background-color: black;
    font-family: 'Zilla Slab', serif;
    color: white;
    padding: 20px;
}

.footer_global h3{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social_media {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*                  ICON Social MÃ©dia                */

.icon_media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.icon_media a {
    color: white;
    cursor: pointer;
    padding: 0px 10px;
}

.icon_media a:hover {
    color: white;
}

.fb_icon a:hover {
    color: #3b5998;
}

.insta_icon a:hover {
    color: #E1306C;
}

.ytb_icon a:hover {
    color: #FF0000
}

/*               2eme partie du footer               */

.bottom_footer {
    border-top: 1px solid gray;
    margin-top: 30px ;
    padding-top: 15px;
    padding-left: 15px;
}
.copy_icon i{
    font-size: 0.7rem;
}